html{
text-align: center;


}


a{
  padding: 12px;
color: rgb(0, 0, 0);


}
 .C{
  background-color: #0CA789;
  border: none;
  border-radius: 70px;
  margin: 8px;
  margin: 8px;


 }

 .E{
background-color: #EB4045;
border: none;
border-radius: 70px;
margin: 8px;


 }

 .P{
background-color: rgb(167, 162, 162);
border: none;
border-radius: 70px;
margin: 8px;


 }